.header

  .container
    @apply flex justify-between

  .btn
    @apply self-center uppercase shadow-md

    &.episodes svg
      @apply ml-2

    &.about svg
      @apply mr-2

  .logo
    @apply flex justify-center

    img
      /*@apply h-32*/
      height 11rem